.section1 {
    background-image: url("con2.avif");
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;
}

.active-link {
    color: rgb(255, 217, 0) !important;
}

.inbox3 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(255, 217, 0);
}

.card-row .col-md-4 {
    display: flex;
    justify-content: center;
}

.overlay1 {
    background-color: rgba(0, 0, 0, 0.55);
    width: 95%;
    padding: 30px 20px;
    color: white;
}

.inbox4 img {
    width: 50px;
    margin: 10px 0;
}
.icon-right{
    float: right;
    width: 50px;
}
.inbox4 h6 {
    font-weight: 700;
    letter-spacing: 1px;
}

.inbox4 button {
    background: transparent;
    border: 2px solid #f4b000;
    color: white;
    padding: 7px 28px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    margin-top: 15px;
}

.inbox4 button:hover {
    background: #f4b000;
    color: black;
    cursor: pointer;
}

.section2 {
    margin-top: 50px;

}

.section3 {
    background-color: rgba(185, 181, 181, 0.199);
    margin-top: 50px;
}

.inbox5 {
    padding: 10px;
    text-align: center;
}

.inbox6 {
    background-color: rgba(185, 181, 181, 0.199);
    margin-top: 30px;
}

.inbox7 {
    padding: 50px;
    text-align: justify;
}

.inbox8 {
    padding: 50px;
    text-align: justify;

}

.comp {
    width: 300px;
    height: 200px;
    /* margin-top: 50px; */
   margin-right: 50px;
}

.work {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;

}

.ul {
    list-style-image: url(icons8-tick-20.png);
}

.inbox10 {
    padding: 50px;
    text-align: center;
}

.cons, .cons2 {
    width: 100%;
    height: 280px;
    object-fit: cover;
    
}

.col-4{
    padding: 15px;
}

.inbox11 {
    background-color: rgb(255, 187, 0);
    padding: 35px 25px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.inbox12, .inbox13 {
    background-color: white;
    text-align: center;
}
.inbox25{
    text-align: center;
    padding: 35px 25px ;
    background-color: white;
    height: 100%;
}

.section4 {
    background-image: url(working\ table.avif);
    background-size: cover;
    text-align: center;
 

}

.wh {
    color: white;
}

.yw {
    color: rgb(255, 187, 0);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    
    padding: 50px;
}

.section5 .btn-outline-warning {
    border: 2px solid #f4c045 !important;
    color: black !important;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 4px;
    background: white !important;
    letter-spacing: 1px;
}


.section5 .btn-outline-warning.active {
    background: #f4b000 !important;
    color: white !important;
    border-color: #f4b000 !important;
}


.section5 .btn-outline-warning:hover {
    background: #f4b000 !important;
    color: white !important;
}


.inbox14 {
    padding-right: 20%;
    padding-top: 25px;
}

.section5 img {
    border-radius: 5px;
}

.res {
    text-align: center;
    margin: 30px;
}

.lo {
    background-color: rgb(245, 211, 150);
    padding: 15px;
    text-align: center;
}

.do {
    background-color: rgb(247, 168, 23);
    color: white;
    padding: 15px;
    text-align: center;
}

.llo {
    background-color: rgb(255, 244, 222);
    padding: 15px;
    text-align: center;
}

.dlo {

    padding: 15px;
    text-align: center;
}

.mr {
    margin-right: 15px;
}

.inbox16 {
    text-align: center;
    padding: 50px;
    color: white;
}

.box1 {
    min-width: 150px;
    min-height: 300px;
    margin-right: 15px;
    background-color: white;
    text-align: center;
    align-content: center;
}

.img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.section7 {
    background-image: url(background-building.avif);
    background-size: cover;
}

.inbox17 {
    text-align: center;
    align-content: center;
    padding: 50px;
}

.inbox18 {
    border-radius: 40px;
    background-color: white;
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    align-content: center;
    padding: 50px;
}

.section8 {
    background-color: lightgray
}

.img1 {
    height: 50px;
    width: 50px;
    border-radius: 50px;

}

.inbox19 {
    text-align: center;
    padding: 50px;
}

.section9 {
    background-image: url(cb.avif);
    background-size: cover;
    padding: 100px;
}

.inbox20 {
    background-color: white;
    text-align: center;
    align-content: center;
    padding: 50px;


}

.inbox21 {
    background-color: rgb(247, 168, 23);
    text-align: center;
    align-content: center;
    padding: 50px;

}

.section10 {
    background-color: black;
    min-height: 150px;
    color: white;
    text-align: center;
    align-content: center;
}